#Ignored elements
myenv/
outputs/**
*.pt
cloud/__pycache__/
cloud/__pycache__/*
cloud/static/**/*.jpg
cloud/static/**/*.png

# Exceptions
!model_Unet__46_checkpoint_epoch_40_v2.pt
!Database/
!Database/**
!inference_inputs/
!assets/
!*.json
!*.jpg
!*.png