# JPG Files in Images for Inference
"inference_inputs/*.jpg" filter=lfs diff=lfs merge=lfs -text

# All files in assets
assets/* filter=lfs diff=lfs merge=lfs -text

# All image files in images/folders

Database/**/images/*.jpg filter=lfs diff=lfs merge=lfs -text
Database/**/images/*.png filter=lfs diff=lfs merge=lfs -text

# All JSON files
Database/**/annotations/*.json filter=lfs diff=lfs merge=lfs -text

# Specific PT Model
model_Unet__46_checkpoint_epoch_40_v2.pt filter=lfs diff=lfs merge=lfs -text